<div class="container">
  <h1>📚 La Mia Libreria con l'uso di NgRx 📚</h1>

  <div class="add-book-form card">
    <h2>Aggiungi un Nuovo Libro</h2>
    <div class="form-controls">
      <input #bookId type="text" placeholder="ID (es. 123)">
      <input #bookTitle type="text" placeholder="Titolo del libro">
      <input #bookAuthor type="text" placeholder="Autore del libro">
      <button (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value); bookId.value=''; bookTitle.value=''; bookAuthor.value=''">
        Aggiungi
      </button>
    </div>
  </div>

  <div class="book-list">
    <div *ngFor="let book of book$ | async" class="book-card card">
      <div class="book-info">
        <span class="book-title">{{ book.title }}</span>
        <span class="book-author">di {{ book.author }}</span>
      </div>
      <button (click)="removeBook(book.id)" class="remove-btn">🗑️</button>
    </div>
  </div>

</div>